[color]
  ui = auto
[user]
  name = Kazunori Kajihiro
  email = kazunori.kajihiro@gmail.com
[core]
  excludesfile = ~/.gitignore_global
[include]
  path = .gitconfig.local
[credential]
  helper = osxkeychain
[pull]
  rebase = true
[push]
  default = simple
[diff]
  tool = vimdiff
[mergetool "vimdiff3"]
  cmd = vi -f -d -c \"wincmd J\" \"$MERGED\" \"$LOCAL\" \"$BASE\" \"$REMOTE\"
[merge]
  tool = vimdiff3
[hub]
	protocol = https
[alias]
	fetch-pulls = "!f() { git fetch ${1-origin} +refs/pull/*:refs/remotes/pull/*; }; f"
