[color]
  ui = auto
[user]
  name = Kazunori Kajihiro
  email = kazunori.kajihiro@gmail.com
[core]
  excludesfile = ~/.gitignore_global
[include]
  path = .gitconfig.local
[credential]
  helper = osxkeychain
[pull]
  rebase = true
[push]
  default = simple
[alias]
  fetch-pulls = "!f() { git fetch ${1-origin} +refs/pull/*:refs/remotes/pull/*; }; f"
